
.request-div{
    color:green;
    overflow
}
.response-div {
    height: 400px;
    width:30%;
    overflow: auto;
    float:left;
    text-align:left;
		padding-left:10px;
}
::-webkit-scrollbar {
  width: 0.5em;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: white;
  outline: 1px solid lightgray;
}